:root {
  --primary1: #faf3e1;  
  --primary2: #e4d7d7;  
  --secondary1: #FBEFEF;  
  --secondary2: #e499a7;  
  --secondary-strong: rgb(72, 65, 110);

  --color-name: var(--secondary-strong);
  --h2-color: var(--secondary-strong);

  --background-color: var(--primary1);
  --container-color: var(--primary2);
  --nav-color: var(--secondary2);
  --nav-text-color: var(--secondary-strong);
  --nav-hover-color: var(--secondary1);
  --nav-hover-text-color: var(--secondary-strong);

  --strong-color: var(--secondary-strong);
  --degree-color: var(--secondary-strong);
  
  --publication-card-bg: var(--secondary1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

nav {
  margin: 30px auto;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 1.2rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.35);
  background-color: var(--nav-color);
}

.container {
  max-width: 1200px;
  width: 70%;
  margin: 30px auto;
}

nav a {
  display: inline-block;
  color: var(--nav-text-color);
  text-decoration: none;
  text-align: center;
  padding: 5px 12px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
}

nav a.selected {
  text-decoration: underline;
  /* background-color: var(--nav-hover-color) !important;
  color: var(--nav-hover-text-color) !important; */
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 1.2rem;
  padding: 25px 30px;
  background-color: var(--container-color);
  border-radius: 15px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.35);
  position: relative;
}

.image-section {
  flex: 0 0 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10px;
}

.image-section img {
  width: 100%;
  border-radius: 10px;
  margin-top: 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.contact {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
}

.text-section {
  flex: 1;
  min-width: 250px;
  line-height: 1.8rem;
  margin-left: 20px;
  text-align: justify;
}


.text-section a {
  color: var(--link-color);
  text-decoration: underline;
}

.text-section strong {
  color: var(--strong-color);
  font-weight: 600;
}

.text-section .degree {
  color: var(--degree-color);
  font-weight: 600;
}

.text-section h2 {
  color: var(--h2-color);
  font-weight: 600;
  border-bottom: 2px solid var(--h2-color);
  padding-bottom: 5px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 1.8rem;
}


h1 {
  color: var(--color-name);
  text-align: center;
  margin: 8px 0 25px 0;
  font-size: 3.5rem;
  width: 100%;
}

.publication-card {
  background-color: var(--publication-card-bg);
  border-left: 4px solid var(--strong-color);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.publication-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.publication-card a {
  margin-right: 12px;
  text-decoration: none;
  color: var(--strong-color);
  font-weight: bold;
}

.publication-card a:hover {
    text-decoration: underline;
}

.publication-card a {
    display: inline-block;
    margin-bottom: 5px;
}


h3 {
  border-bottom: 2px solid var(--h2-color);
  padding-bottom: 5px;
  color: var(--h2-color);
  margin-top: 0px;
  width: 100%;
}

details {
  display: inline-block;
  list-style: none;
}

summary {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  color: var(--strong-color);
}


@media (max-width: 900px) {
  .container {
    width: 95%;
  }

  .image-section {
    display: block;
    margin: 0 auto;
  }

  .image-section img {
    display: block;
    width: 70%;
    margin-right: 0px;
    margin: 0 auto;
  }

}